@import "../../sass/variable";
@import "../../sass/mixin";
@import "../../sass/base";

.login,
.register {
  padding: 30px;
  margin: 0 auto;
  max-width: 30%;
  box-shadow: $box-shadow;
  @include tablet {
    max-width: 60%;
  }
  @include mobile {
    max-width: 100%;
  }
  .login__name,
  .register__name {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    color: rgb(54, 54, 54);
  }
  button {
    width: 100%;
  }

  .google__btn {
    margin: 15px 0 0 0;
  }

  &__regis {
    margin: 15px 0;

    a {
      text-decoration: underline !important;
      color: $main-color !important;
    }
  }

  .error {
    margin-top: 10px;
  }
}
.form {
  &__group {
    margin-bottom: 20px;
    input {
      padding: 10px;
      margin: 5px 0;
      width: 100%;
      font-size: 14px;
    }
  }
}
