.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: #fff;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 5%);
  padding: 20px;
}
.product_left {
  border: 0.5px solid #e5e5e5;
  &_image {
    position: relative;
    background-color: rgba(0, 0, 0, 0.005);
    width: 100%;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      // height: 400px;
      max-width: 100%;
    }
  }
}

.product_right {
  padding: 80px 20px 30px 30px;
  &_title {
    font-size: 28px;
    margin: -10px 0 5px 0;
    font-weight: 400;
    letter-spacing: 0.01em;
    color: #000;
    line-height: 1.13em;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
  }
  &_price {
    font-weight: 400;
    letter-spacing: 0.05em;
    color: #000;
    font-size: 21px;
    line-height: 1.19em;
    margin: 10px 0;
    opacity: 0.8;
  }
  &_desc {
    font-weight: 300;
    line-height: 1.5em;
    letter-spacing: 0.1em;
    margin: 36px 25px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
}

.btn_modal {
  position: absolute;
  background: #111;
}

.btn_primary {
  position: absolute;
  background: #4040fd;
}

.btn_close {
  top: 0;
  right: 0;
  padding: 24px;
  font-size: 20px;
  font-weight: 100;
}
//////
.product_right_inner {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-around;
  margin: 30px 0;
  &_props {
    display: flex;
    align-items: center;
    gap: 8px;

    button {
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }
  }
  &_quantity {
    width: 40px;
    height: 40px;
    border: 1px solid #d9d9d9; /* giống border của button mặc định */
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    transition: border-color 0.2s;

    &:hover {
      border-color: #4096ff;
    }
    &_btn {
      display: flex;
      flex-direction: column;
      button {
        padding: 4.7px 10px;
        border-left: none;
        outline: none;
        border: 1px solid #3b393947;
        cursor: pointer;
        background: transparent;
        &:first-child {
          border-bottom: none;
        }
      }
    }
  }
  &_btn {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    transition-timing-function: linear;
    transition-duration: 300ms;
    transition-delay: 100ms;
    button {
      border: none;
      outline: none;
    }
  }
}

.btn_add_to_cart {
  position: relative;
  flex: 1;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  color: white;
  &:hover {
    background: rgba(0, 0, 0, 0.9);
    opacity: 0.8;
  }
}

.btn_cart_details {
  position: relative;
  flex: 1;
  font-size: 18px;
  font-weight: 400;
  padding: 15px;
  color: white;
  &:hover {
    background: #6a6acf;
    opacity: 0.8;
  }
}

.product {
  .product_left {
    margin: 25px;
  }
}
