@import "../../sass/variable";
@import "../../sass/mixin";
@import "../../sass/base";

.section {
  margin-bottom: 80px;
  @include mobile {
    margin-bottom: 40px;
  }
  & > * ~ * {
    margin-top: 70px;
  }
  &__title {
    font-size: 2rem;
    text-transform: capitalize;
    text-align: center;
    position: relative;
    padding-bottom: 10px;
    pointer-events: none;
    @include tablet {
      font-size: 2rem;
    }
    @include mobile {
      font-size: 1.8rem;
    }
    &::after {
      content: "";
      position: absolute;
      width: 20%;
      height: 3px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, -50%);

      background: $main-color;
    }
  }
}
